<div class="central-meta">
    <div class="new-postbox">
        <figure>
            <img *ngIf="this.user" src="http://localhost:3000/{{ this.user.avatar }}" alt="" />
        </figure>
        <div class="newpst-input">
            <form (ngSubmit)="onSubmit()">
                <textarea rows="2" placeholder="write something" name="content" [(ngModel)]="sstatus.content"></textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <i class="fa fa-image"></i>
                            <label class="fileContainer">
                                <input
                                    type="file"
                                    name="photo"
                                    (change)="fileProgress($event)"
                                />
                            </label>
                        </li>

                        <li>
                            <button type="submit">Post</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>