<div class="theme-layout">
    <div class="container-fluid pdng0">
        <div class="row merged">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="land-featurearea">
                    <div class="land-meta">
                        <h1>Khoá luận nha :))))</h1>
                        <p>
                            Đăng nhập ở đây nè
                        </p>
                        <div class="friend-logo">
                            <span><img src="assets/images/wink.png" alt=""
                            /></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="login-reg-bg">
                    <div class="log-reg-area sign">
                        <h2 class="log-title">Login</h2>
                        <form (submit)="login()">
                            <div class="form-group">
                                <input type="text" id="input" required="required" [(ngModel)]="credentials.username" name="username" />
                                <label class="control-label" for="input">Username</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    required="required"
                                    [(ngModel)]="credentials.password"
                                    name="password"
                                />
                                <label class="control-label" for="input"
                                    >Password</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        checked="checked"
                                    /><i class="check-box"></i>Always Remember
                                    Me.
                                </label>
                            </div>
                            <div class="submit-btns">
                                <button class="mtr-btn signin" type="submit">
                                    <span>Login</span>
                                </button>
                                <button class="mtr-btn signup" type="button" (click)="change()">
                                    <span>Register</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="log-reg-area reg">
                        <h2 class="log-title">Register</h2>
                        <form (submit)="register()">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="dataRes.firstname" name="firstname" required="required" />
                                <label class="control-label" for="input">First Name</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    [(ngModel)]="dataRes.lastname"
                                    name="lastname"
                                    required="required"
                                />
                                <label class="control-label" for="input"
                                    >Last Name</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    [(ngModel)]="dataRes.username"
                                    name="username"
                                    required="required"
                                />
                                <label class="control-label" for="input"
                                    >User Name</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    [(ngModel)]="dataRes.password"
                                    name="password"
                                    required="required"
                                />
                                <label class="control-label" for="input"
                                    >Password</label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="form-radio">
                                <div class="radio">
                                    <label>
                                        <input
                                            type="radio"
                                            [(ngModel)]="dataRes.gender"
                                            name="gender"
                                            checked="checked"
                                            value="male"
                                        /><i class="check-box"></i>Male
                                    </label>
                            </div>
                            <div class="radio">
                                <label>
                                        <input
                                            type="radio"
                                            name="gender"
                                            [(ngModel)]="dataRes.gender"
                                            value="female"
                                        /><i class="check-box"></i>Female
                                    </label>
                            </div>
                    </div>
                    <div class="form-group">
                        <input type="text" required="required" [(ngModel)]="dataRes.email" name="email" />
                        <label class="control-label" for="input"><a
                                        class="__cf_email__"
                                        data-cfemail="6c29010d05002c"
                                        >[email&#160;protected]</a
                                    ></label
                                ><i class="mtrl-select"></i>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        checked="checked"
                                    /><i class="check-box"></i>Accept Terms &
                                    Conditions ?
                                </label>
                    </div>
                    <a href="#" title="" class="already-have" (click)="change()">Already have an account</a
                            >
                            <div class="submit-btns">
                                <button class="mtr-btn signup" type="submit">
                                    <span>Register</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>