<div class="loadMore">
    <div class="central-meta item" *ngFor="let a of this.statusId">
        <div class="user-post" *ngFor="let item of this.status[a]">
            <div class="friend-info">
                <figure>
                    <img src="http://localhost:3000/{{item.user_info.avatar}}" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a [routerLink]="['/user/profile/', item.user_id]" routerLinkActive="router-link-active"  title="">{{ item.user_info.firstname}} {{ item.user_info.lastname}}</a></ins>
                    <span>published: {{ item.create_at | date:'M/d/yy, h:mm a' }}</span>
                </div>
                <div class="post-meta">
                    <div class="description">

                        <p>
                            {{item.content}}
                        </p>
                    </div>
                    <img *ngIf="item.photo" src="http://localhost:3000/{{item.photo}}" alt="">
                    <!-- <iframe src="https://player.vimeo.com/video/15232052" height="315" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                    <div class="we-video-info">
                        <ul>

                            <li>
                                <span class="comment" data-toggle="tooltip" title="Comments">
  <i class="fa fa-comments-o"></i>
  <ins>{{item.comment_amount}}</ins>
</span>
                            </li>
                            <li>

                                <ng-container *ngIf="item.liked == true; else elseTemplate1">
                                    <span class="like" data-toggle="tooltip" title="like" (click)="like(item._id)">
                                                        <i class="ti-heart"></i>
                                                        <ins>{{ item.like_amount }}</ins>
                                                      </span>
                                </ng-container>
                                <ng-template #elseTemplate1>
                                    <span class="like" data-toggle="tooltip" title="like" style="color: #000" (click)="like(item._id)">
                                                        <i class="ti-heart"></i>
                                                        <ins>{{ item.like_amount }}</ins>
                                                      </span>
                                </ng-template>

                            </li>

                            <li class="social-media">
                                <div class="menu">
                                    <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                    <div class="rotater">
                                        <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="coment-area">

                <ul class="we-comet" >
                    <ng-container *ngIf="this.comment[item._id]; else elseTemplate" >
                        <li *ngFor="let ite of this.comment[item._id]" style="margin-bottom: 0px">
                            <div *ngFor="let it of ite" style="margin-bottom: 20px"><div class="comet-avatar">
                                    <img src="http://localhost:3000/{{this.it.user_info.avatar}}" width="40px" height="40px" alt="">
                                </div>
                                <div class="we-comment">
                                    <div class="coment-head">
                                        <h5><a [routerLink]="['/user/profile',this.it.user_id]" routerLinkActive="router-link-active"  title="">{{ it.user_info.firstname}} {{ it.user_info.lastname}}</a></h5>
                                        <span>{{it.create_at| date:'M/d/yy, h:mm a'}}</span>
                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                    </div>
                                    <p>{{it.content}}</p>
                                </div></div>
                            
                        </li>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <li>
                            <p>Bài viết chưa có bình luận</p>
                        </li>
                    </ng-template>
                    <li class="post-comment">
                        <div class="comet-avatar">
                            <img src="http://localhost:3000/{{this.UserInfo.avatar}}" alt="">
                        </div>
                        <div class="post-comt-box">
                            <form (submit)="commentStatus(item._id)">
                                <input type="hidden" [(ngModel)]="this.bo.status_id" name="status_id" value="{{item._id}}" />
                                <input (keyup)="onKey($event)"[(ngModel)]="this.bo.content" name="content" placeholder="viết bình luận của bạn" class="post-input-comment"/>
                                <div class="add-smiles">
                                    <span class="em em-expressionless" title="add icon"></span>
                                </div>
                                <div class="smiles-bunch">
                                    <i class="em em---1"></i>
                                    <i class="em em-smiley"></i>
                                    <i class="em em-anguished"></i>
                                    <i class="em em-laughing"></i>
                                    <i class="em em-angry"></i>
                                    <i class="em em-astonished"></i>
                                    <i class="em em-blush"></i>
                                    <i class="em em-disappointed"></i>
                                    <i class="em em-worried"></i>
                                    <i class="em em-kissing_heart"></i>
                                    <i class="em em-rage"></i>
                                    <i class="em em-stuck_out_tongue"></i>
                                </div>
                                <button type="submit"></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>