<div class="se-pre-con"></div>
<div class="theme-layout">
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <!-- sidebar -->
                            <div class="col-lg-3">
                                <app-left-sidebar></app-left-sidebar>
                            </div>
                            <div class="col-lg-6">
                                <app-main-content></app-main-content>
                            </div>
                            <!-- centerl meta -->
                            <div class="col-lg-3">
                                <app-right-sidebar></app-right-sidebar>
                            </div>
                            <!-- sidebar -->
                            <div class="chat-box">
                                <div class="chat-head">
                                    <span class="status f-online"></span>
                                    <h6>Bucky Barnes</h6>
                                    <div class="more">
                                        <span><i class="ti-more-alt"></i></span>
                                        <span class="close-mesage"><i class="ti-close"></i
                                        ></span>
                                    </div>
                                </div>
                                <div class="chat-list">
                                    <ul>
                                        <li class="me">
                                            <div class="chat-thumb">
                                                <img src="assets/images/resources/chatlist1.jpg" alt="" />
                                            </div>
                                            <div class="notification-event">
                                                <span class="chat-message-item">
                                                    Hi James! Please remember to
                                                    buy the food for tomorrow!
                                                    I’m gonna be handling the
                                                    gifts and Jake’s gonna get
                                                    the drinks
                                                </span>
                                                <span class="notification-date"><time
                                                        datetime="2004-07-24T18:18"
                                                        class="entry-date updated"
                                                        >Yesterday at
                                                        8:10pm</time
                                                    ></span
                                                >
                                            </div>
                                        </li>
                                        <li class="you">
                                            <div class="chat-thumb">
                                                <img
                                                    src="assets/images/resources/chatlist2.jpg"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="notification-event">
                                                <span class="chat-message-item">
                                                    Hi James! Please remember to
                                                    buy the food for tomorrow!
                                                    I’m gonna be handling the
                                                    gifts and Jake’s gonna get
                                                    the drinks
                                                </span>
                                                <span class="notification-date"><time
                                                        datetime="2004-07-24T18:18"
                                                        class="entry-date updated"
                                                        >Yesterday at
                                                        8:10pm</time
                                                    ></span
                                                >
                                            </div>
                                        </li>
                                        <li class="me">
                                            <div class="chat-thumb">
                                                <img
                                                    src="assets/images/resources/chatlist1.jpg"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="notification-event">
                                                <span class="chat-message-item">
                                                    Hi James! Please remember to
                                                    buy the food for tomorrow!
                                                    I’m gonna be handling the
                                                    gifts and Jake’s gonna get
                                                    the drinks
                                                </span>
                                                <span class="notification-date"><time
                                                        datetime="2004-07-24T18:18"
                                                        class="entry-date updated"
                                                        >Yesterday at
                                                        8:10pm</time
                                                    ></span
                                                >
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="text-box">
                                        <textarea
                                            placeholder="Post enter to post..."
                                        ></textarea>
                                        <div class="add-smiles">
                                            <span
                                                title="add icon"
                                                class="em em-expressionless"
                                            ></span>
                                            </div>
                                            <div class="smiles-bunch">
                                                <i class="em em---1"></i>
                                                <i class="em em-smiley"></i>
                                                <i class="em em-anguished"></i>
                                                <i class="em em-laughing"></i>
                                                <i class="em em-angry"></i>
                                                <i class="em em-astonished"></i>
                                                <i class="em em-blush"></i>
                                                <i class="em em-disappointed"></i>
                                                <i class="em em-worried"></i>
                                                <i class="em em-kissing_heart"></i>
                                                <i class="em em-rage"></i>
                                                <i class="em em-stuck_out_tongue"></i>
                                            </div>
                                            <button type="submit"></button>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright"><a target="_blank" href="https://www.templateshub.net"
                            >Templates Hub</a
                        ></span
                    >
                    <i><img src="assets/images/credit-cards.png" alt=""/></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="side-panel">
    <h4 class="panel-title">General Setting</h4>
    <form method="post">
        <div class="setting-row">
            <span>use night mode</span>
                    <input type="checkbox" id="nightmode1" />
                    <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
                </div>
                <div class="setting-row">
                    <span>Notifications</span>
                    <input type="checkbox" id="switch22" />
                    <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
                </div>
                <div class="setting-row">
                    <span>Notification sound</span>
                    <input type="checkbox" id="switch33" />
                    <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
                </div>
                <div class="setting-row">
                    <span>My profile</span>
                    <input type="checkbox" id="switch44" />
                    <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
                </div>
                <div class="setting-row">
                    <span>Show profile</span>
                    <input type="checkbox" id="switch55" />
                    <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
                </div>
                </form>
                <h4 class="panel-title">Account Setting</h4>
                <form method="post">
                    <div class="setting-row">
                        <span>Sub users</span>
                        <input type="checkbox" id="switch66" />
                        <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                        <span>personal account</span>
                        <input type="checkbox" id="switch77" />
                        <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                        <span>Business account</span>
                        <input type="checkbox" id="switch88" />
                        <label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                        <span>Show me online</span>
                        <input type="checkbox" id="switch99" />
                        <label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                        <span>Delete history</span>
                        <input type="checkbox" id="switch101" />
                        <label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                        <span>Expose author name</span>
                        <input type="checkbox" id="switch111" />
                        <label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                </form>
            </div> -->
            <!-- side panel -->